{%extends 'food/base.html'%}


{%block body%}
  <div  class="container" style="margin-top:80px;">

 <h1 id="head1" align="center"><b><u>Copy Right Policy</u></b></h1>

      <div class="w3-padding-32">
              <p>Information and statements regarding products, supplements etc listed on funutritionstore have not been
            evaluated by the Food and Drug Administration or any government authority and are  not intended to diagnose,
            treat, cure, or prevent any disease. Please  read product packaging carefully prior to purchase and use. The
            results  from the products will vary from person to person. No individual result  should be seen as typical.
                  <b>Copyright © 2018 Kerni Fitness Private Limited</b> - All Rights Reserved. </p>



                   </div>
  </div>


{%endblock%}