{% extends 'food/base.html'  %}
{% block title%}
     Log in
{% endblock %}

{%block body%}
<div class="container" style="margin-top:80px;">
    <div class="jumbotron">
        <h2 align="center">You requested for Password Reset.</h2>
        <h3 align="center"><b>We have send an email containing a link for password reset form.</b> </h3>
        <h4 align="center">If you have not Received an Email ,It must be a <u>system Fault</u> or <u>Your email Address was Incorrect</u>.</h4>

    </div>


</div>



{%endblock%}